.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
    box-shadow: 0px 0px 3px 1px rgb(198, 198, 198);
    background: white;

}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    width: 4rem;
}
.footer-logo-p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 10px;
}
.footer-copyright hr{
    width: 20%;
    border: none;
    border-radius: 10px;
    height: 1.4px;
    background: #c7c7c7;
}
