.item{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    background: white;
    
}

.item img{
    width: 240px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    align-items: center;
    gap: 17px;
}
.item-prices .item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-prices .item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.03);
    transition: 1s;
}

.rating-saling-count{
    display: flex;
    align-items: center;
    gap: 8px;
}
.assured{
    width: 25%;
    height: 18px;
}
.assured img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}
.product-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2px 1px 2px;
    width: fit-content;
    height: 18px;
    border-radius: 3px;
    gap: 3px;
    background-color: rgb(0, 104, 0);
    color: white;
}
.product-rating img{
    width: 20%;
}
.product-rating span{
    font-size: 12px;
}
.product-sale-count{
    color: #767676;
}
.off-is{
    font-size: 15px;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
   
    .item img{
         width: 150px;
    }
    .item p{
        margin: 10px 0px;
    }
    .rating-saling-count{
        width: 150px;
    }
    .assured{
        width: 25%;
        height: 18px;
    }
    .assured img{
        width: 100%;
        border-radius: 20px;
        height: 100%;
    }
    .product-rating img{
        width: 10%;
    }
}
