.relatedProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 90vw;
    background: white;
    margin: auto;


}
.relatedProducts h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}
.relatedProducts hr{
    width: 40%;
    height: 3px;
    border-radius: 10px;
    background: #a2a2a2;
}
.relatedproducts-item{
    margin: 50px;
    display: flex;
    gap: 20px;
}
